/* General Styles */
body {
    font-family: sans-serif;
    background-color: white;
    margin: 20px;
}

/* Table Styles */
#sTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Table Header */
#sTable th {
    padding: 20px 0;
    text-align: left;
    color: white;
    background-color: #b22222;
    border: 1px solid grey;
}

/* Table Rows */
#sTable td {
    padding: 8px;
    border: 1px solid grey;
}

/* Zebra Striping */
#sTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Highlight Row on Hover */
#sTable tbody tr:hover {
    background-color: burlywood;
}